* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f9f9f9;
}

nav {
  display: none;
}

header {
  background: url(assets/her-one.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  font-family:'Courier New', Courier, monospace;
  padding-bottom: 0.4rem;
}

p {
  color: #4d4d4c;
  font-size: 13px;
}

button {
  margin-top: 0.5rem;
  height: 4rem;
  width: 9rem;
  border:1px solid #036bd3;
  color: #036bd3;
  font-size: 10px;
  border-radius: 1rem;
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: space-between;
}

.menu {
 font-size: 1.9em;
}

.intro-text {
  margin-top: 2rem;
}

main {
  display: inline-block;
  width: 100%;
}

.question {
  font-family: Roboto;
  font-weight: bold;
  color: #2188ef;
}

.article-one {
  display: inline-block;
  padding-top: 2em;
}

.company-logos {
  display: block;
}

.fa-brands {
  display: inline-block;
}

.article-two {
   display: block;
}

.part-one {
  display: block;
  text-align: center;
}

.part-two {
  display: block;
  margin-top: 2em;
}

.part-two .box-one,
.part-two .box-two,
.part-two .box-three,
.part-two .box-four,
.part-two .box-five,
.part-two .box-six {
  text-align: center;
  margin-bottom: 0.7em;
}

.inspiration {
  text-align: center;
  background-image: url(/assets/clock.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
  padding: 1em 0;
  button {
    background-color: transparent;
  }
  h2 {
    color: #f9f9f9;
  }
  p {
    color: #ddd7d7;
  }
}

.review {
  text-align: center;
}

.numbers {
  color: #2188ef;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-size: 3em;
}

.choose-us {
  text-align: center;
  margin-top: 1em;
}

.list-us {
  margin-top: 0.5rem;
}

.list-us h2 {
  padding-bottom: 0.5em;
}

.image-two img {
  width: 100%;
}

.steps {
  text-align: center;
}

.list-steps .consultation,
.list-steps .package,
.list-steps .productions,
.list-steps .order {
  margin-bottom: 0.7em;
}

.stand-image img {
  width: 100%;
}

.article-three {
  text-align: center;
  background-image: url(/assets/keyboard.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  margin-bottom: 1em;
  padding-bottom: 1em;
  button {
    background-color: transparent;
  }
  h1 {
    color: #f9f9f9;
  }
  p {
    color: #ddd7d7;
  }
}

.overlap {
  text-align: center;
}