* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f9f9f9;
}

nav {
  display: none;
}

a {
  text-decoration: none;
  color: #036bd3;
}

button {
  margin-top: 0.5rem;
  height: 3rem;
  width: 11rem;
  border: 1px solid #036bd3;
  color: #036bd3;
  font-size: 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

header {
  background-image: linear-gradient(115deg, #1a1a1a80, #0d0d0e70), url("../assets/her-one.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 0.2em 2rem;

  i {
    color: #036bd3;
    cursor: pointer;
  }

  button {
    border: 2px solid #f9f9f9;
    background-color: transparent;
  }

  a {
    color: #f9f9f9;
  }
}

h2 {
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 0.4rem;
}

p {
  color: #4d4d4c;
  font-size: 13px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.menu {
  font-size: 1.9em;
}

footer {
  background-color: #222;
  color: #f9f9f9;
  font-size: 12px;

  img {
    width: 100%;
    height: 300px;
  }

  h2 {
    padding-top: 1em;
  }

  p {
    color: #f9f9f9;
    font-size: 12px;
  }

  button {
    background-color: transparent;
    width: 100%;
  }

  ul {
    list-style: none;
  }
}

.intro-text {
  margin: 2rem 0.4rem;
  padding-bottom: 2rem;

  p {
    color: #f9f9f9;
  }

  h1 {
    color: #f9f9f9;
  }
}

main {
  display: inline-block;
  width: 100%;
}

.question {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #2188ef;
  padding-bottom: 0.5em;
}

.article-one {
  margin: 0 10px;
  display: inline-block;
  padding-top: 2em;

  img {
    width: 100%;
    padding-top: 0.8em;
  }
}

.company-logos {
  text-align: center;
  display: block;
  margin: 0 2px 1rem;
  justify-content: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  i {
    font-size: 2em;
  }
}

.fa-brands {
  display: inline-block;
}

.article-two {
  display: block;
  padding: 1em 0;
  background-color: #e3e3e3;
}

.part-one {
  display: block;
  text-align: center;
}

.part-two {
  display: block;
  margin-top: 2em;
}

.part-two .box-one,
.part-two .box-two,
.part-two .box-three,
.part-two .box-four,
.part-two .box-five,
.part-two .box-six {
  background-color: #f9f9f9;
  text-align: center;
  margin: 0 10px 0.7em;
  padding: 2em 0;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px #f3f2f2;
}

.inspiration {
  text-align: center;
  background-image: linear-gradient(115deg, #1a1a1a80, #0d0d0e70), url("../assets/clock.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
  padding: 3em 0;

  h3 {
    color: #f9f9f9;
  }

  p {
    padding-top: 0.2em;
    color: #ddd7d7;
  }
}

.review {
  margin: 0 10px;
  text-align: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      padding-bottom: 0.2rem;
    }
  }
}

.numbers {
  color: #2188ef;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-size: 2em;
}

.choose-us {
  margin: 0 10px;
  text-align: center;
  margin-top: 1em;
  border-bottom: 1px solid #8d8d8a;
}

.list-us {
  margin-top: 0.5rem;
}

.list-us .one,
.list-us .two,
.list-us .three {
  padding: 0.3rem 0;
}

.list-us h2 {
  padding-bottom: 0.5em;
}

.image-two {
  padding: 1em 0;

  img {
    width: 100%;
  }
}

.steps {
  margin: 0 10px;
  padding: 1em 0;
  text-align: center;
}

.list-steps .consultation,
.list-steps .package,
.list-steps .productions,
.list-steps .order {
  background-color: #fff;
  text-align: center;
  margin: 0 10px 0.7em;
  padding: 2em 0;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px #f3f2f2;
}

.stand-image {
  margin-bottom: 0.7em;

  img {
    width: 100%;
  }
}

.article-three {
  text-align: center;
  background-image: linear-gradient(115deg, #1a1a1a80, #0d0d0e70), url("../assets/keyboard.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  margin-bottom: 1em;
  padding: 4em 0;
  position: relative;

  h3 {
    color: #f9f9f9;
  }

  p {
    color: #ddd7d7;
  }
}

.overlap {
  text-align: center;
  margin: 0 10px;
}

.box-one-overlap {
  background-color: #fff;
  text-align: center;
  margin: 0 10px 0.7em;
  padding: 2em 0;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px #f3f2f2;
}

.side-image {
  display: none;
}

.testimonials {
  margin: 0 10px;
  margin-top: 1em;

  h2 {
    padding: 0.3rem 0;
  }
}

.article-four {
  margin: 0 10px;
  text-align: center;
}

.testimony {
  margin: 0 10px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimony-one,
.testimony-two {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.testimony-text {
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
}

.testimony-image {
  text-align: center;
}

.testimony-image img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.footer-info {
  margin: 0 10px;
  border-bottom: 7px solid #2188ef;
}

.icons {
  text-align: center;
  width: 70%;
  padding: 10px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.services {
  border-bottom: 5px solid #f9f9f9;
  padding-bottom: 5px;
}

.studio {
  padding: 1rem 0 10px;
}

.copyright {
  margin: 0 10px;
  padding-top: 0.7rem;
}

.list-here {
  margin-top: 10px;

  ul {
    list-style: square;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding-top: 0;
    margin-top: 0;
  }
  nav {
    display: block;
    width: 70%;
    margin: 0;
    padding: 0;
    ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none; 
    }

    .active {
      color: #036bd3;
    }

    a:hover {
      color: #036bd3;
    }

    button {
      border-top: none;
    }
  }

  .menu{
    display: none;
  }

  .intro-text {
    width: 30%;
    padding: 5em 0;

    button {
      margin-top: 1.5em;
      font-weight: bold;
    }
  }

  main {
    margin-top: 4em;
  }

  .article-one {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1rem;
    box-shadow: 2px 2px #ddd7d7;
    padding-bottom: 4rem;

    button {
      margin-top: 3em;
    }
  }

  .company-logos {
    padding: 2rem;
  }

  .inspiration {
    padding: 6em 25%;
    margin-bottom: 0;

    h3 {
      padding-bottom: 0.7rem;
    }

    p {
      padding-bottom: 0.7rem;
    }
  }

  .review {
    margin: 0 4px;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.7em #ddd7d7;

    ul {
      padding: 1rem 20%;
    }
  }

  .part-one {
    text-align: left;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 2rem 2%;

    button {
      margin-top: 1.5em;
    }
  }

  .part-two {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 1em;
    margin: 0 2em;
    padding-right: 2em;
  }

  .part-two .box-one,
  .part-two .box-two,
  .part-two .box-three,
  .part-two .box-four,
  .part-two .box-five,
  .part-two .box-six {
    margin: 0;
    padding: 4rem 0;

    button {
      margin-top: 1.5rem;
    }
  }

  .choose-us {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4em 0;
  }

  .text-us {
    text-align: left;
  }

  .list-us {
    margin: 2em 0;
  }

  .list-us .one,
  .list-us .two,
  .list-us .three {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 1em;
  }

  .image-two img {
    width: 100%;
    height: 80%;
  }

  .steps {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 4em 0;
  }

  .list-steps {
    display: block;
  }

  .list-steps-box {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 1em;
    margin-left: 0.73em;
    gap: 1em;
  }

  .stand-image img {
    height: 100%;
    border-radius: 20px;
  }

  .list-steps .consultation,
  .list-steps .package,
  .list-steps .productions,
  .list-steps .order {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

    button {
      margin-top: 1em;
    }
  }

  .article-three {
    padding: 6em 20%;
    margin-bottom: 0;

    h3 {
      padding-bottom: 0.7rem;
    }

    p {
      padding-bottom: 0.7rem;
    }
  }

  .overlap {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    position: absolute;
    top: 201%;
  }


  .box-one-overlap {
  padding: 3em 0.5em;
  }

  .testimonials {
    padding-top: 30%;
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .side-image{
    display: contents;
    position: absolute;
    z-index: 999;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .testimony {
    background-color: #f3eded;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3rem 3rem;
  }
}