:root {
  --primary-font: system-ui, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --secondary-font: "Courier New", courier, monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: #f9f9f9;
  text-align: justify;
  line-height: 3vh;
}

nav {
  display: none;
}

a {
  text-decoration: none;
  color: #036bd3;
}

button {
  margin-top: 0.5rem;
  height: 3rem;
  width: 11rem;
  border: 1px solid #036bd3;
  color: #036bd3;
  font-size: 10px;
  border-radius: 0.8rem;
  cursor: pointer;
  background-color: transparent;
}

header {
  background-image: linear-gradient(700deg, #00000090, #00000090), url("../assets/her-one.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 0.2em 2rem;
  line-height: 3.2vh;

  i {
    color: #036bd3;
    cursor: pointer;
  }

  button {
    border: 2px solid #f9f9f9;
    background-color: transparent;
  }

  a {
    color: #f9f9f9;
  }
}

a:hover {
  color: #3fd7f1;
  transition: 0.5s;
}

h2 {
  font-family: var(--secondary-font);
  padding-bottom: 0.4rem;
}

p {
  color: #4d4d4c;
  font-size: 13px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.menu {
  font-size: 1.9em;
}

footer {
  background-color: #222;
  color: #f9f9f9;
  font-size: 12px;

  img {
    width: 100%;
    height: 300px;
  }

  h2 {
    padding-top: 1em;
  }

  p {
    color: #f9f9f9;
    font-size: 12px;
  }

  button {
    background-color: transparent;
    width: 100%;
  }

  ul {
    list-style: none;
  }
}

.intro-text {
  margin: 2rem 0.4rem;
  padding-bottom: 2rem;

  p {
    color: #f9f9f9;
  }

  h1 {
    color: #f9f9f9;
    line-height: 3vh;
  }
}

main {
  display: inline-block;
  width: 100%;
}

.question {
  font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #2188ef;
  padding-bottom: 0.5em;
}

.article-one {
  margin: 0 10px;
  display: inline-block;
  padding-top: 2em;

  img {
    width: 100%;
    padding-top: 0.8em;
  }
}

.company-logos {
  text-align: center;
  display: block;
  margin: 0 2px 1rem;
  justify-content: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  i {
    font-size: 2em;
  }
}

.fa-brands {
  display: inline-block;
}

.article-two {
  display: block;
  padding: 1em 0;
  background-color: #e3e3e3;
}

.part-one {
  display: block;
  text-align: center;
}

.part-two {
  display: block;
  margin-top: 2em;
}

.box {
  background-color: #f9f9f9;
  text-align: center;
  margin: 0 10px 0.7em;
  padding: 2em 0;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px #f3f2f2;
}

.inspiration {
  text-align: center;
  background-image: linear-gradient(115deg, #00000080, #0d0d0e70), url("../assets/clock.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
  padding: 3em 0;

  h3 {
    color: #f9f9f9;
  }

  p {
    padding-top: 0.2em;
    color: #ddd7d7;
  }
}

.review {
  margin: 0 10px;
  text-align: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      padding-bottom: 0.2rem;
    }
  }
}

.numbers {
  color: #2188ef;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-size: 2em;
}

.choose-us {
  margin: 0 10px;
  text-align: center;
  margin-top: 1em;
  border-bottom: 1px solid #8d8d8a;
}

.list-us {
  margin-top: 0.5rem;
}

.like {
  padding: 0.3rem 0;
}

.list-us h2 {
  padding-bottom: 0.5em;
}

.image-two {
  padding: 1em 0;

  img {
    width: 100%;
  }
}

.steps {
  margin: 0 10px;
  padding: 1em 0;
  text-align: center;
}

.stake {
  background-color: #fff;
  text-align: center;
  margin: 0 10px 0.7em;
  padding: 2em 0;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px #f3f2f2;
}

.stand-image {
  margin-bottom: 0.7em;

  img {
    width: 100%;
  }
}

.article-three {
  text-align: center;
  background-image: linear-gradient(115deg, #1a1a1a80, #0d0d0e70), url("../assets/keyboard.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  margin-bottom: 1em;
  padding: 4em 0;
  position: relative;

  h3 {
    color: #f9f9f9;
  }

  p {
    color: #ddd7d7;
  }
}

.overlap {
  text-align: center;
  margin: 0 10px;
}

.box-one-overlap {
  background-color: #fff;
  text-align: center;
  margin: 0 10px 0.7em;
  padding: 2em 0;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px #f3f2f2;
}

.side-image {
  display: none;
}

.testimonials {
  margin: 0 10px;
  margin-top: 1em;

  h2 {
    padding: 0.3rem 0;
  }
}

.article-four {
  margin: 0 10px;
  text-align: center;
}

.testimony {
  margin: 0 10px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimony-one,
.testimony-two {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.testimony-text {
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
}

.testimony-image {
  text-align: center;
}

.testimony-image img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.footer-info {
  margin: 0 10px;
  border-bottom: 7px solid #2188ef;
}

.icons {
  text-align: center;
  width: 70%;
  padding: 10px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.services {
  border-bottom: 5px solid #f9f9f9;
  padding-bottom: 5px;
}

.studio {
  padding: 1rem 0 10px;
}

.copyright {
  margin: 0 10px;
  padding-top: 0.7rem;
}

.list-here {
  margin-top: 10px;

  ul {
    list-style: square;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 0;
    margin-top: 0;
    line-height: 2.1vh;
    font-weight: bolder;
  }

  .top {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  nav {
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;

    ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-between;

      li {
        padding-right: 0.35rem;
      }
    }

    .active {
      color: #036bd3;
    }

    a:hover {
      color: #036bd3;
    }

    button {
      border-top: none;
      margin-top: 0;
      top: 0;
      position: relative;
      border-radius: 0.5rem;
      width: 10rem;
    }
  }

  .menu {
    display: none;
  }

  footer {
    h2 {
      font-weight: bold;
      font-size: 3rem;
      padding-left: 2rem;
    }

    button {
      width: 20%;
      margin-left: 2rem;
    }
  }

  .intro-text {
    width: 80%;
    padding: 5em 2rem;
    line-height: 2vh;

    button {
      margin-top: 1.5em;
      font-weight: bold;
    }

    p {
      line-height: 2vh;
      padding: 0.5rem 0;
    }

    h1 {
      line-height: 3vh;
    }
  }

  main {
    margin-top: 4em;
  }

  .article-one {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1rem;
    box-shadow: 2px 2px #ddd7d7;
    padding-bottom: 4rem;

    button {
      margin-top: 3em;
    }

    p {
      line-height: 1.5vh;
    }
  }

  .company-logos {
    padding: 2rem;
    font-size: 1.7rem;
  }

  .inspiration {
    padding: 6em 18%;
    margin-bottom: 0;
    line-height: 1.3vh;
    font-weight: bold;

    h3 {
      padding-bottom: 0.7rem;
    }

    p {
      padding-bottom: 0.7rem;
    }
  }

  .review {
    margin: 0 4px;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.7em #ddd7d7;
    line-height: 2vh;
    padding-top: 1.5rem;

    ul {
      padding: 1rem 20%;
    }
  }

  .part-one {
    text-align: left;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 0.7rem;
    margin: 2rem 2%;
    line-height: 1.8vh;

    button {
      margin-top: 1.5em;
    }
  }

  .part-two {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 1em;
    margin: 0 2em;
    padding-right: 2em;
  }

  .box {
    margin: 0;
    padding: 3rem 0;

    button {
      margin-top: 1.5rem;
    }
  }

  .choose-us {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4em 0;

    h2 {
      padding-top: 1rem;
      line-height: 3vh;
    }

    h1 {
      line-height: 3vh;
    }

    p {
      padding-top: 0.7rem;
    }
  }

  .text-us {
    text-align: left;
    line-height: 1.8vh;
  }

  .list-us {
    margin: 2em 0;
  }

  .like {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 1em;
  }

  .image-two {
    background-image: url("../assets/girl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    img {
      display: none;
    }
  }

  .steps {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 4em 0;
  }

  .list-steps {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 1em;
    margin-left: 0.73em;
  }

  .stand-image {
    background-image: url("../assets/stand.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.9rem;

    img {
      display: none;
    }
  }

  .stake {
    margin: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;

    button {
      margin-top: 1em;
    }
  }

  .article-three {
    padding: 6em 15%;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    line-height: 1.8vh;
    font-weight: bold;

    h3 {
      padding-bottom: 0.7rem;
    }

    p {
      padding-bottom: 0.7rem;
    }
  }

  .overlap {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-top: -2rem;
    position: relative;
    z-index: 10;
  }

  .testimonials {
    padding-top: 2%;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 35% 65%;
    background-image: linear-gradient(115deg, #fffffff5, #0d0d0e70), url("../assets/human.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .side-image {
    display: contents;
    position: absolute;
    z-index: 999;

    img {
      width: 1px;
      height: 1px;
    }
  }

  .testimony {
    background-color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3rem;
    border: none;
    border-radius: 10px;
  }

  .testimony-one,
  .testimony-two {
    border: none;
    padding: 0;
  }

  .testimony-image {
    display: flex;
    padding-top: 2em;
    gap: 1em;
    align-items: center;
    padding-left: 2em;
    line-height: 1vh;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .testimony-text {
    padding: 1em;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    padding: 5rem 0 1rem;
    border: none;
    padding-left: 2rem;
    line-height: 1.8vh;
  }

  .footer-logo {
    justify-content: space-between;
    width: 99%;
  }

  .footer-logo img {
    width: 40%;
    height: 40%;
  }

  .icons {
    padding-left: 0;
    width: 20%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: space-between;

    li {
      background-color: #4d4d4c;
      padding: 0.2rem;
      margin-right: 0.2rem;
    }
  }

  .services {
    border: none;

    h3 {
      padding-bottom: 0.2rem;
    }

    li {
      padding: 0.2rem 0;
    }
  }

  .studio {
    padding: 0;
    margin-left: 0.5rem;
  }

  .copyright {
    border-top: 3px solid #036bd3;
    display: grid;
    grid-template-columns: 70% 30%;
    padding-bottom: 4em;
  }

  .list-here {
    margin-top: 0;

    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}
